tensorflow
opencv-python
numpy
pandas
scikit-learn
matplotlib
seaborn
plotly
geopandas
rasterio
folium
requests
python-dotenv
flask
flask-cors
gunicorn
pillow
scipy
statsmodels
xarray
netcdf4
h5py
jupyter
ipykernel
web3
ipfshttpclient
pymongo
psycopg2-binary
sqlalchemy
alembic
pytest
black
flake8
mypy
pre-commit
